body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  border: 1px solid black;
  max-width: 25%;
  padding-left: 20px;
}

.card:hover {
  background-color: aquamarine;
}

@media (max-width: 900px) {
  .cards {
    flex-wrap: wrap;
  }
  .card {
    max-width: 40%;
  }
}

@media (max-width: 600px) {
  .cards {
    flex-wrap: wrap;
  }

    .card {
      max-width: 100%;
    }
}